<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content,title)"
class="light">
  <head>
	  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />

		 <script src="https://cdn.tailwindcss.com"></script>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <title th:replace="${title}">SCM</title>
  </head>
  
  <body class="dark:bg-gray-900 bg-gray-100 dark:text-white">
	  
	  

<div th:if="${loggedinUser}">
	<div data-th-replace="user/user_navbar::user-navbar"></div>
</div>
	
	
	<div th:unless="${loggedinUser}">
		
    <div data-th-replace="~{navbar :: navbar}"></div>
	</div>



 
	 


    <div th:replace="${content}"></div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
 
  </body>
</html>